<div class="main-container" ng-controller="HomeCtrl">
 <div class="text-center full-height flex middle center white-bg column title-without-margin" >

     <h4>{{'HOME.SELECT_ONE_OF_THE_BELOW' | translate}}</h4>
     <h4>{{'HOME.OPTION_FOR_NEW_SUPSCRIPTION' | translate}}</h4>
     <div class="row margin-top-lg center">
       <a href="#/products/s" class="col-20">

            <img class="img-responsive" src="img/packge.png" />
            <p>
              {{'HOME.POSTPAID' | translate}}
            </p>

        </a>
        <a href="#/client-details/s" class="col-20">
            <img class="img-responsive" src="img/packge.png" />
              {{'HOME.PREPAID' | translate}}
        </a>
        <div class="col-20">
            <img class="img-responsive" src="img/packge.png" />
              {{'HOME.HALA_GO_MIGRATION' | translate}}
        </div>
     </div>
 </div>
</div>
