<div class="main-container" ng-controller="HomeCtrl">
 <div class="text-center full-height flex middle center white-bg column title-without-margin" >

     <h4>{{'HOME.SELECT_ONE_OF_THE_BELOW' | translate}}</h4>
     <h4>{{'HOME.OPTION_FOR_NEW_SUPSCRIPTION' | translate}}</h4>
     <div class="row margin-top-lg center">
       <a ng-click="goToEntity('postpaid')" class="col-20">

            <img class="img-responsive" src="img/postpaid.svg" />
            <p>
              {{'HOME.POSTPAID' | translate}}
            </p>

        </a>
        <a ng-click="goToEntity('prepaid')" class="col-20">
            <img class="img-responsive" src="img/prepaid.svg" />
              {{'HOME.PREPAID' | translate}}
        </a>
        <a ng-click="goToEntity('hala-go')" class="col-20">
            <img class="img-responsive" src="img/hala-go.svg" />
              {{'HOME.HALA_GO_MIGRATION' | translate}}
        </a>
     </div>
 </div>
</div>
