<div class="main-container signature" ng-controller="SignatureCtrl">
 <div class="full-height  white-bg column title-without-margin" >
   <navigation next="next()" back="alerta()" is-back="true" is-next="true"></navigation>
   <div class="preview-link flex middle" >

      <i class="ion-ios-list-outline"></i>
       <p>{{'SIGNATURE.PREVIEW_FORM' | translate}}</p>
   </div>
   <p class="terms-conditions-text">
     {{'SIGNATURE.TERMS_CONDITION_1' | translate}}
     <a>{{'SIGNATURE.TERMS_AND_CONDITIONS' | translate}}</a>
     {{'SIGNATURE.TERMS_CONDITION_2' | translate}}
   </p>
   <div class="signature-container text-center">
     <canvas id="signature-pad" class="signature-pad" width=700 height=400></canvas>
   </div>
   <div style="margin:20px" class="sign-again-button flex end text-center" >
     <button class="clearbtn button" ng-click="signAgain()">
       <i class="ion-ios-refresh-empty"></i>
       Clear
     </button>
   </div>
 </div>
</div>
