
<div class="main-container confirmation" ng-controller="ConfirmationCtrl">
 <div class="text-center full-height flex middle center white-bg column title-without-margin" >
      <i class="ion-checkmark-circled"></i>
     <h2>{{'CONFIRMATION.CONGRATULATIONS' | translate}}</h4>
     <h4>{{'CONFIRMATION.YOU_HAVE_SUCCESSFULLY_COMPELETED_YOUR_REGISTRATION' | translate}}</h4>
     <h4>{{'CONFIRMATION.YOUR_ACCOUNT_NO_IS' | translate}} {{order.AccountNumber}}</h4>
     <h4>{{'CONFIRMATION.YOUR_NUMBER_IS' | translate}} {{order.ServiceIdentifier}}</h4>
     <div class="confirmation-seprator"></div>
     <h4>{{'CONFIRMATION.EMAIL_RECEIPT_TO_CUSTOMER' | translate}}</h4>
     <input class="custom-input" ng-model="email" type="text" placeholder="example@example.com" style="width:300px;" >
     <button style="margin-top:30px;" ng-disable="!email" ng-click="sendEmail(email)" class="button  button-assertive activated">{{"CONFIRMATION.SEND" | translate}}</button>
 </div>
</div>
