<div class="row navigation" ng-class="{'without-back':!isBack}">
  <button class="back button" ng-click="back()" ng-if="isBack">
   <i ng-if="$root.lang.id != 'ar'" class="ion-chevron-left"></i>
   <i ng-if="$root.lang.id == 'ar'" class="ion-chevron-right"></i>

   {{'HOME.BACK' | translate}}
  </button>
  <button class="next button" ng-click="nextBtn()" ng-if="isNext">
  {{'HOME.NEXT' | translate}}
  <i ng-if="$root.lang.id != 'ar'" class="ion-chevron-right"></i>
  <i ng-if="$root.lang.id == 'ar'" class="ion-chevron-left"></i>

  </button>
</div>
