<ion-pane class="master">
  <ion-content>
    <div class="row  full-height no-padd">
      <div class="col col-20  master-side-menu full-height">
        <div class="logo-container">
          <img src="img/logo.svg"  />
          <p>Location</p>
        </div>
        <a style="margin-top:100px;" href="#">
          <img src="img/sim.svg" />
          <p>
            {{'MASTER.NEW_ACTIVAION' | translate}}
          </p>
        </a>
        <div class="seprator-line"></div>
        <a href="#">
          <img src="img/report.svg" />
          <p>
            {{'MASTER.REPORT' | translate}}
          </p>
        </a>
      </div>
      <div class="col col-80 no-padd  full-height">
        <header></header>
        <div  class="full-height-without-header">
          <ion-nav-view class="full-height" ></ion-nav-view>
        </div>

      </div>
    </div>
  </ion-content>
</ion-pane>
