<ion-pane class="master" ng-class="{'rtl':$root.lang.id =='ar'}">
  <ion-content has-bouncing="false">
    <div class="row  full-height no-padd">
      <div class="col col-20  master-side-menu full-height">
        <side-menu is-master="$root.user"></side-menu>
      </div>
      <div class="col col-80 no-padd  full-height">
        <header></header>
        <div  class="full-height-without-header">
          <ion-nav-view class="full-height" ></ion-nav-view>
        </div>

      </div>
    </div>
  </ion-content>
</ion-pane>
