
    <div class="modal custom-dealer-modal confirm-modal postpaid-accounts">
          <div class="flex end">
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
          </div>
          <h4 class="text-center">CONFIRMATION</h4>
          <content has-header="true" padding="true">
            <p>
              By clicking confirm you have reviewed and completed all forms please note that this is the final step before you submit.

            </p>

          </content>
          <div class="bar bar-footer flex center">
            <button  ng-click="next()"  class="button  button-assertive activated">CONFIRM</button>
          </div>
      </div>
