<div class="modal custom-dealer-modal postpaid-accounts">
      <div class="flex end">
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
      </div>
      <h4 class="text-center">{{productModalTitle}}</h4>
      <div class="modal-product-container" ng-if="isMultiple == 0" has-header="true" padding="true">
         <ion-checkbox  ng-repeat="product in addOnsProducts" ng-class="{'active1':product.checked}" ng-model="product.checked" ng-click="updateSelection($index, addOnsProducts, product)">
           {{product.Name}}
           <span class="product-price-end">{{product.Detail}} /{{product.Price}}</span>
         </ion-checkbox>
      </div>
      <div class="modal-product-container" ng-if="isMultiple == 1" has-header="true" padding="true">
        <div class="item" ng-repeat="product in addOnsProducts">
          <label  >
            <input type="checkbox"  />
            {{product.Name}}
          </label>
        </div>
      </div>
      <div class="bar bar-footer flex center">
        <button ng-click="modal.hide()"  class="button  button-assertive activated">{{"CLIENT_DETAILS.OK" | translate}}</button>
      </div>
  </div>
