
  <ion-modal-view class="modal custom-dealer-modal postpaid-accounts">
      <ion-header-bar>
        <h1 class="title">{{productModalTitle}}</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
      </ion-header-bar>
      <ion-content class="has-footer">
        <div ng-if="isMultiple == 0">
          <ion-checkbox  ng-repeat="product in ::addOnsProducts" ng-checked="activeEntity(product)" ng-click="addToCart(product,0,true,product.CategoryName)">
            {{product.Name}}
            <span class="product-price-end">{{product.Detail}} /{{product.Price}}</span>
          </ion-checkbox>
        </div>
        <div ng-if="isMultiple == 1" >
          <ion-checkbox  ng-repeat="product in ::addOnsProducts" ng-checked="activeEntity(product)" ng-click="addToCart(product,1,true,product.CategoryName)">
            {{product.Name}}
            <span class="product-price-end">{{product.Detail}} /{{product.Price}}</span>
          </ion-checkbox>
        </div>

      </ion-content>
      <div class="bar bar-footer flex center">
        <button ng-click="modal.hide()"  class="button  button-assertive activated">{{"CLIENT_DETAILS.OK" | translate}}</button>
      </div>
    </div>
  </ion-modal-view>
