<ion-pane class="main-container scan-number" ng-controller="ScanNumberCtrl">
  <ion-content class="full-height title-without-margin">
     <navigation next="next()" back="alerta()" is-back="true" is-next="true"></navigation>
     <div class="row full-height-without-nav" >
       <div class="col-60 ">
         <div class="form-container full-height white-bg">
           <div class="row center" style="margin-top:50px">
             <div class="col-20 text-center">
               <img src="img/scan-sim.svg" class="img-responsive"  />
               <p>{{'SCAN_NUMBER.SCAN_SIM' | translate}}</p>
             </div>
           </div>
           <div class="row center ">
             <div class="col-60">
               <label class="item  item-input item-stacked-label">
                 <span class="input-label">{{"SCAN_NUMBER.SIM_No" | translate}}</span>
                 <input class="custom-input" ng-model="$parent.client.simNumber" ng-change="validateSim($parent.client.simNumber)" ng-model-options="{ debounce: 500 }" type="text" >
               </label>
             </div>
           </div>
         </div>
       </div>
       <div class="col-40">
         <cart-directive available-credit-limit="$parent.client.account.Acl" credit-limit="$parent.client.account.CreditLimit" cart="$parent.client.cart"></cart-directive>
       </div>
     </div>
     </ion-content
   </ion-pane>
