
<div class="main-container" ng-controller="PostpaidTypeCtrl">
 <div class="text-center full-height  white-bg column title-without-margin" >
   <navigation is-back="true" is-next="true">

   </navigation>

     <h4 style="padding-top:180px">{{'HOME.SELECT_ONE_OF_THE_BELOW' | translate}}</h4>
     <h4>{{'HOME.POSTPAID_PRODUCTS' | translate}}</h4>
     <div class="row margin-top-lg center">
        <div class="col-20 ">
            <img class="img-responsive" src="img/shahry-without-pormotion.svg" />
            <p>
              Without Promotions
            </p>
        </div>
        <div class="col-20">
            <img class="img-responsive" src="img/shahry-with-pormotion.svg" />
            <p>
              With Promotions
            </p>
        </div>
        <div class="col-20">
            <img class="img-responsive" src="img/mbb.svg" />
            <p>
              EIP Standalone
            </p>
        </div>
     </div>
 </div>
</div>
