<div class="full-height" >
  <div ng-if="!isMaster" class="landing-side-menu flex  full-height vertical-align horizontal-align">
    <img src="img/logo.svg"  />
    <h2>Ooredoo B2C</h2>
    <p>
      {{$root.location}}
    </p>
  </div>
  <div ng-if="isMaster" class="flex coulmn master-side-menu full-height">
    <div class="logo-container">
      <img src="img/logo.svg"  />
      <p>{{$root.location}}</p>
    </div>
    <a  style="margin-top:100px;" class="active" id="home" ng-click="active('home')" href="#/home">
      <img src="img/new-activation.svg" />
      <p>
        {{'MASTER.NEW_ACTIVAION' | translate}}
      </p>
    </a>
    <div class="seprator-line"></div>
    <a  href="#/reports" id="report" ng-click="active('report')">
      <img src="img/reports.svg" />
      <p>
        {{'MASTER.REPORT' | translate}}
      </p>
    </a>
  </div>
</div>
