<div class="main-container" ng-controller="HalaIdTypeCtrl">
 <div class="text-center full-height  white-bg column title-without-margin" >
    <navigation is-next="true" is-back="true">

    </navigation>
     <h4 style="padding-top:270px">{{'HOME.SELECT_ONE_OF_THE_BELOW' | translate}}</h4>
     <h4>{{'HOME.OPTION_FOR_NEW_SUPSCRIPTION' | translate}}</h4>
     <div class="row margin-top-lg center">
        <div class="col-20 ">
            <img class="img-responsive" src="img/packge.png" />
        </div>
        <div class="col-20">
            <img class="img-responsive" src="img/packge.png" />
        </div>
        <div class="col-20">
            <img class="img-responsive" src="img/packge.png" />
        </div>
     </div>
 </div>
</div>
