<div class="cart-container ">
  <div class="white-title white-bg">
    <b>{{'CART.YOUR_ORDER' | translate}}</b>
    <p class="row space-between" style="margin-top:5px;"><span class="red-color">{{'CART.CREDIT_LIMIT' | translate}}</span> <span class="dark-grey">QR {{creditLimit}}</span></p>
    <p class="row space-between no-margin"><span class="red-color">{{'CART.AVAILABLE_ACCOUNT_CREDIT' | translate}}</span> <span class="dark-grey">QR {{availableCreditLimit}}</span></p>

  </div>
  <div class="item-container">
    <div class="cart-item" ng-repeat="cartItem in cart">
      <div class="">
        <p class="row "><span class="red-color">{{cartItem.Name}}</span> <span class="dark-grey">{{'CART.QR' | translate}} {{cartItem.Price}}</span></p>
        <p class="row second end"><span class="dark-grey"> <ion-icon class="ion-ios-trash" ng-if="cartItem.canDelete"></ion-icon></span></p>
      </div>
    </div>







  </div>

  <div class="total-cart">
    <p class="row ">
      <span class=" dark-grey">{{'CART.TOTAL' | translate}}</span>
      <span class="cart-value red-color">{{'CART.QR' | translate}} 250</span>
    </p>
  </div>

</div>
