<ion-pane class="landing">
    <ion-content>
      <!-- <div class="common-header">

      </div>
      <div class="full-height-without-header row vertical-align horizontal-align grey-bg">

      </div> -->
      <div class="row full-height no-padd">
        <div class="col col-20 landing-side-menu  full-height vertical-align horizontal-align">
          <img src="img/logo.svg"  />
          <h2>Ooredoo B2C</h2>
          <p>
            OOB2CO10-HQ2
          </p>
        </div>
        <div class="col col-80 no-padd  full-height">
          <header>

          </header>
          <!-- <div class="main" ui-view>

          </div> -->
          <div  class="full-height-without-header row vertical-align horizontal-align grey-bg">
            <div  class=" col col-80 main-landing-container no-padd card-shadow " >
              <div class="row full-height no-padd ">
                <div class="col col-50 left-section-login grey-bg  full-height">
                  <img src="img/login.png" />
                  <h2>E-Activation APP</h2>
                </div>
                <div class="col col-50 full-height white-bg flex vertical-align horizontal-align">
                  <div style="width:100%" >
                    <h4 class="text-center">Location</h3>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">{{"LANDING.USERNAME" | translate}}</span>
                      <input type="text" placeholder="John Smith">
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">{{"LANDING.PASSWORD" | translate}}</span>
                      <input type="text" placeholder="*********">
                    </label>
                    <div class="padding">
                    <button ng-click="login()" class="button button-block button-assertive activated">{{"LANDING.LOGIN" | translate}}</button>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-content>
  </ion-pane>
