<div class="main-container postpaid-products" ng-controller="PostpaidProductsCtrl">
   <div class="full-height   column title-without-margin" >
     <navigation next="next()" back="alerta()" is-back="true" is-next="true"></navigation>
     <div class="row" style="padding-top:10px;">
       <div class="col-60 ">
         <div class="white-title white-bg row tab-container">
           <div class="tab active col-33 text-center">
             Shahry Smart
           </div>
           <div class="tab col-33 text-center">
             Qatarna
           </div>
           <div class="tab col-33 text-center">
             Label
           </div>
         </div>
         <div class="products-container ">
           <div class="pack-container">
             <ks-swiper-container initial-slide="0" dir="{{$root.dir}}"  slides-per-view="2.5" loop="false" show-nav-buttons="false"  space-between="15" pagination-clickable="false">
                <ks-swiper-slide class="product-card "  ng-repeat="s in array" ng-class="{'active':s==1}">
                  <div class="info-ribbon">
                    <i class="ion-information"></i>
                  </div>
                  <h4 class="text-center">
                    Qatarna<br />
                    <b>600</b>
                  </h4>
                  <div class="benfits-container">
                    <p class="text-center">
                      XXX <br />
                      Units
                    </p>
                    <p class="text-center">
                      XXX <br />
                      Mobile Internet
                    </p>
                    <p class="text-center">
                      XXX <br />
                      Free Number
                    </p>
                  </div>
                  <p class="text-center">
                    <a class="red-color " > More Details</a>
                  </p>
                  <div class="select-indicator-container text-center">
                    <span class="custom-radio">
                      <i></i>
                    </span>
                    <p>
                      Select
                    </p>
                  </div>
                </ks-swiper-slide>
            </ks-swiper-container>
           </div>
           <div class="add-ons-container">
             <ks-swiper-container initial-slide="0" dir="{{$root.dir}}" slides-per-view="2" loop="false" show-nav-buttons="false"  space-between="15" pagination-clickable="false">
                <ks-swiper-slide class="add-ons-card flex middle center coulmn" ng-repeat="s in array1" ng-click="showProductModal('check','international key')">
                  <h1 class="red-color"><i class="ion-ios-plus-outline"></i></h1>
                  <h4>Shahry Data Pack</h4>
                </ks-swiper-slide>
            </ks-swiper-container>
           </div>
         </div>

       </div>
       <div class="col-40">
         <cart-directive cart="cart"></cart-directive>
       </div>
     </div>


   </div>
</div>
