<div class="main-container postpaid-products" ng-controller="PostpaidProductsCtrl">
   <div class="full-height   column title-without-margin" >
     <navigation next="next()" back="alerta()" is-back="true" is-next="true"></navigation>
     <div class="row" style="padding-top:10px;">
       <div class="col-60 ">
         <div class="white-title white-bg row tab-container">
           <div ng-repeat="tarrif in tarrifs track by $index" ng-class="{'active':tarrif.CategoryName == selectedCategory}" ng-click="changeTab(tarrif.CategoryName)" class="tab col-33 text-center">
             {{::tarrif.CategoryName}}
           </div>
         </div>
         <div class="products-container ">
           <div class="pack-container">
             <ks-swiper-container ng-repeat="tarrif in tarrifs track by $index" ng-if="tarrif.CategoryName == selectedCategory" initial-slide="0" dir="{{$root.dir}}"  slides-per-view="2.5" loop="false" show-nav-buttons="false"  space-between="15" pagination-clickable="false">
                <ks-swiper-slide class="product-card "  ng-repeat="entity in tarrif.tarrifs track by $index"  >
                  <i class="ion-information info-icon"></i>

                  <div class="info-ribbon">
                    <i class="ion-information"></i>
                  </div>
                  <div ng-click="addToCart(entity,0,true,'shahryTarrif')" >
                    <h4 class="text-center">
                      {{::entity.Name}}<br />
                    </h4>
                    <div class="benfits-container">
                      <p class="text-center" ng-repeat="benfit in ::entity.Details | limitTo:3">
                      {{::benfit}}
                      </p>
                    </div>
                  </div>

                  <p class="text-center" ng-click="showDeatils(entity)">
                    <a class="red-color " > {{'HOME.MORE_DETAILS' | translate}} </a>
                  </p>
                  <div ng-class="{'active' : activeEntity(entity)}" >

                    <div ng-click="addToCart(entity,0,true,'shahryTarrif')" class="select-indicator-container text-center">
                      <span class="custom-radio">
                        <i></i>
                      </span>
                      <p>
                        {{'HOME.SELECT' | translate}}
                      </p>
                    </div>
                  </div>

                </ks-swiper-slide>
            </ks-swiper-container>
           </div>

           <div class="add-ons-container">
             <ks-swiper-container ng-if="addons"  initial-slide="0" dir="{{$root.dir}}" slides-per-view="2" loop="false" show-nav-buttons="false"  space-between="15" pagination-clickable="false">
                <ks-swiper-slide class="add-ons-card flex middle center coulmn" ng-repeat="addon in addons" ng-click="showProductModal(addon.IsMultiple,addon.CategoryName,addon.tarrifs)">
                  <h1 class="red-color"><i class="ion-ios-plus-outline"></i></h1>
                  <h4>{{addon.CategoryName}}</h4>
                </ks-swiper-slide>
            </ks-swiper-container>
           </div>
         </div>

       </div>
       <div class="col-40">
         <cart-directive available-credit-limit="$parent.client.account.Acl" credit-limit="$parent.client.account.CreditLimit" cart="$parent.client.cart"></cart-directive>
       </div>
     </div>


   </div>
</div>
